<% if @recipes.map(&:id).present? %>
  <h2><%= t '.all_recipes' %></h2>

  <div>
    <%= render partial: "recipe", collection: @recipes, as: :recipe, cached: true %>
  </div>
<% else %>
  <%= t '.no_recipes_currently_available' %>
<% end %>
